<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.travelappxamarin" android:installLocation="preferExternal">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="31" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<application android:label="TravelAppXamarin.Android" android:theme="@style/MainTheme">
		<!-- This line below must be included: the metadata, android name and api key as the value. This will prevent the map from greying out -->
		<meta-data android:name="com.google.android.maps.v2.API-KEY" android:value="AIzaSyBEOfxBnu3ORw29NdrGWFY2jZjrW_M-px0" />
	</application>
</manifest>